{% extends "countries/base.html"%}

{% block title %}
    Home
{% endblock %}

{% block content %}
    
    <p>Desde home.html</p>

    <p>El siguiente código desde country.html:</p>

    {% include "countries/country.html"%}

    <a href="{% url "countries:tags" %}">Tags</a><br>
    <a href="{% url "continents:continents" %}">Continentes</a><br>

    <p>Genera automaticamente los links de los diferentes paises:</p>
    {% for country in countries %}
        <a href="{{ country.url }}">{{country.name}}</a><br>
    {% endfor %}

    <p>Con el metodo reverse:</p>
    {% for country in countries %}
        <a href="{{ country.url }}">{{ country.name }}</a>
    {% endfor %}

{% endblock %}


